html{
  font-size: 10px;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgba(244, 244, 244);
  color: #333;
}

*{
  box-sizing: border-box;
}

small{
  font-size: 1.2rem;
}

.container{
  margin: 0 auto;
  max-width: 1000px;
  padding:40px;
}
.title{
  font-size: 4.4rem;
  text-align: center;
}